body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.canvas-container {
    text-align: center;
}

canvas {
    border: 1px solid #fff;
}

.level {
    font-size: 18px;
    margin-bottom: 10px;
}
h1 {
    font-size: 24px;
    text-align: center;
}

.score {
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.start-button {
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Additional styling for the Tetromino blocks */

.tetromino {
    width: 24px;
    height: 24px;
}

.block-i {
    background-color: #00FFFF;
}

.block-j {
    background-color: #0000FF;
}

.block-l {
    background-color: #FFA500;
}

.block-o {
    background-color: #FFFF00;
}

.block-s {
    background-color: #00FF00;
}

.block-t {
    background-color: #800080;
}

.block-z {
    background-color: #FF0000;
}
